script
	include enroll_module.js
div(id="enroll_alert_box", class="alert alert-info", style="display: none")
.form-group
	label Class Key
	input(id="course_key", class="form-control", type="text")
.form-group
	button(id="enroll_submit").btn.btn-primary.btn-block Enroll
