script
	include requester_module.js

button(id="requestAssistanceButton", disabled, value="false").btn.btn-lg.btn-default.btn-block Select a Class
button(id="requestHallPassButton", disabled, value="false").btn.btn-default.btn-block Select a Class
