script
    include change_password_module.js
div(id="change_password_alert_box", class="alert alert-info", style="display: none")
input(type="password", id="oldPassword", placeHolder="Current Password", class="form-control", required)
input(type="password", id="newPassword", placeHolder="New Password", class="form-control", required)
button(id="changePasswordSubmit").btn.btn-primary.btn-block Submit