doctype html
html
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
	head
		title Virtual Hand Hall Passes

		include ../shared/header_with_javascript

		style
			include ../../../client/css/teacher_home.css
		script
			include ../../../client/js/google_analytics.js
		script(src="/socket.io/socket.io.js")
		script.
			let socket = io({query: {token: '#{token}'}});

	body
		div(id="main").container
			.col-sm-12.col-md-6.offset-md-3
				h1.text-center Hall Passes
				hr
				include modules/class_selector
				hr
				include modules/hall_pass_module
				hr
				a(href="/teacher/home").btn.btn-success.btn-block Return Home
				a(href="/logout").btn.btn-danger.btn-block Logout
