*.unselectable {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.navbar-default {
	background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	font-size: 20px;
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #77cc77;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffffff;
		background-color: #262525;
	}
}

h1, h2, h3, a, p {
	font-family: 'Arvo', serif;
}

.btn-default {
	color: #77cc77;
	font-size: 16px;
}

.bigicon {
	font-size: 35px;
	color: #36A0FF;
}

.navbar-fixed-top .nav {
	padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
	padding: 0 15px;
}

@media ( min-width :768px) {
	body {
		padding-top: 100px;
		/* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	}
	.navbar-fixed-top .navbar-brand {
		padding: 15px 0;
	}
	.vh_logo {
		max-width: 25%;
	}
}