body {
	padding-top: 0;
}

#main {
	overflow: auto;
	padding-bottom: 15px; 
}

/* Makes certain text and boxes unselectable (good for GUI) */
*.unselectable {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Style for the boxes that display students to teachers */
*.listItem {
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius: 2px;
	border: 2px solid #CCCCCC;
	padding: 3px;
	width: 3000px;
	height: 40px;
	margin-top: 3px;
	background-color: white;
}

*.hallPassListItem {
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-radius: 2px;
	border: 2px solid #CCCCCC;
	padding: 3px;
	height: 40px;
	margin-top: 3px;
	background-color: white;
}

body:before {
	content: "";
/*	height: 100%; */
	float: left;
	width: 0;
	margin-top: -32767px;
}

.hall_pass_card {
	min-height: 40px;
}
