html
	head
		title Virtual Hand Admin Home
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
		// load bootstrap css
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		// load fontawesome
		style
			include ../css/main.css
		script(src="/socket.io/socket.io.js")
		script.
			var io_host="#{io_host}"
		script
			include ../js/admin_home.js
	body(onload="getLogFiles()")
		input(type="hidden", value=user.id, id="user_id")

	div(id="main", class="container")
		h3 Create a message:
		input(type="text", id="name", placeholder="Name")
		input(type="text", id="message", placeholder="Message")
		button(class="btn btn-default", onClick="createMessage()")
			| Create Message
		button(class="btn btn-default", onClick="getUserCount()")
			| Get User Count
		br
		br
		br
		br
		div(id="logs")
		br
		br
		a(class="btn btn-default", onClick="toggleChangePassword()", style="width:100%")
			| Change Password
		div(id="div_changepass", style="display: none", class="well")
			form(action="javascript:changePassword()", class="form-group")
				br
				label Current Password:
				input(type="password", id="oldPassword", placeHolder="Current Password", class="form-control")
				label New Password:
				input(type="password", id="newPassword", placeHolder="New Password", class="form-control")
				input(type="submit", value="Submit", class="btn btn-default")
		br
		a(href="/logout", class="btn btn-default")
			| Logout
			