doctype html
// views/signup.ejs
html
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
	head
		title Virtual Hand Signup
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		// load bootstrap css
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		// load fontawesome
		style
			include ../css/main.css
	script(src='/socket.io/socket.io.js')
	script 
		include ../js/signup.js
	body
		.container
			.col-sm-6.col-sm-offset-3
				h1
					span.fa.fa-sign-in
					|  Signup
				// show any messages that come back with authentication
				//show any messages that come back with authentication
				if message != null && message.length > 0
					.alert.alert-danger #{message}

				// LOGIN FORM
				form(action='/signup', method='post')
					.form-group
						label Username
						input.form-control(required='', type='text', name='username')
					.form-group
						label Password
						input.form-control(required='', type='password', name='password')
					.form-group
						label Email
						input#email.form-control(required='', name='email', type='email')
					.form-group
						label Register as:
						br
						input#type_student(onchange='accountTypeChange()', type='radio', name='account_type', value='student', checked='')
						| Student
						br
						input#type_teacher(onchange='accountTypeChange()', type='radio', name='account_type', value='teacher')
						| Teacher
					.form-group
						label Select a school or create a new school: 
						select#schools.form-control(name='school', onchange='')
							option(value='')
						input#newschool.form-control(type='text', name='newSchool', placeholder='New School', disabled='')
					p
						| *By signing up you understand that Virtual Hand is new software and understand that issues may arise. It has been tested, however not all bugs are guaranteed to have been found. If you find a bug, please 
						a(href='/#contact-us') report it
						| .
					button.btn.btn-warning.btn-lg(type='submit') Signup
				hr
				p
					| Already have an account? 
					a(href='/login') Login
				p
					| Or go 
					a(href='/') home
					| .
