audio(id="ding", style="display: none; width: 0px; height: 0px", src="/notification_audio" preload="auto", type="audio/ogg")
div#audioModule.checkbox
	label
		input(type="checkbox", id="audioCheck")
		| &nbspAudio Notification
