script
	include change_password_module.js
div(id="change_password_alert_box", class="alert alert-info", style="display: none")

.form-group
	label Current Password
	input(type="password", id="old_password", class="form-control", required)
.form-group
	label New Password
	input(type="password", id="new_password", class="form-control", required)
.form-group
button(id="changePasswordSubmit").btn.btn-primary.btn-block Submit
