script
    include add_class_module.js
div(id="create_class_alert_box", class="alert alert-info", style="display: none")
input(id="new_class_name", class="form-control", name="classname", type="text", placeholder="Class name")
button(id="new_class_submit").btn.btn-primary.btn-block Add Class