script
	include add_students_module.js
div(id="enrollAlert" class="alert alert-info")
h5 If an account exists, the student will be enrolled in this class.
h5 If no account exists, one will be created with this <strong>default password</strong>:
input(type="text" class="form-control" id="addStudentsDefaultPassword")
h5 <strong>CSV (No spaces, single line)</strong>:
input(class="form-control" type="text" id="addStudentsCSV")
button(id="addStudentsSubmit").btn.btn-primary.btn-block Add Students