script
    include ./rename_class_module.js
div(id="rename_class_alert_box", class="alert alert-info", style="display: none")
input(id="class_rename", class="form-control", name="classname", type="text", placeholder="New class name")
button(id="rename_class_submit").btn.btn-primary.btn-block Rename Class