doctype html

html

	link(href='https://fonts.googleapis.com/css?family=Arvo:400,400italic', rel='stylesheet', type='text/css')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
	head
		title STL Software
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		style
			include ../../client/css/landing_style.css
		script
			include ../../client/js/google_analytics.js
		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script
			include ../../client/js/landing.js
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	body
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/login') Virtual Hand Login
						li
							a(href='/signup') Sign Up
						li
							a(href='#contact_us') Contact Us
		#main.unselectable.container-fluid(style='padding-left: 40px; padding-right: 40px;')
			#virtual_hand.row(style='padding-top: 55px;')
				#vh_logo(style='text-align: center')
					//h1 Virtual Hand
					a(href='/login')
						img(src='/vh_logo', style='max-width: 75%; max-height: 75%', alt='')
				div
					ul.nav.nav-tabs.nav-justified
						li.active(role='presentation')
							a(data-toggle='tab', href='#basics', style='font-size: 150%') The Basics
						li(role='presentation')
							a(data-toggle='tab', href='#teachers', style='font-size: 150%') For Teachers
						li(role='presentation')
							a(data-toggle='tab', href='#students', style='font-size: 150%') For Students
					.tab-content
						#basics.tab-pane.fade.in.active
							.col-md-6(style='text-align: center')
								h3
									strong Maximize
									|    Efficiency
								h3
									strong Simplify
									|    Mechanics
								h3
									strong Increase
									|    Productivity
								h3
									strong With Virtual Hand
							.col-md-6(style='text-align: justify')
								h4
									| Virtual Hand is a one of a kind application designed to simplify
									| mechanics in classrooms. Targeted at STEM classes but applicable
									| to all, Virtual Hand levereges the growing use of technology to
									| simplify the classroom. Virtual Hand is web based, requiring no
									| installation by teachers or students, and is mobile friendly.
									| Click the tabs above to learn more or
									a(href='#contact_us')
										strong
											| contact
											| us
									|    for more information.
						#teachers.tab-pane.fade
							.col-md-6(style='text-align: center')
								h2 Prioritized Queue
								h2 Seemless Transitions
							.col-md-6(style='text-align: justify')
								h4
									| Using Virtual Hand, students request assistance from you by
									| pressing a button on their screen, adding their name to a list
									| you can refer to while moving from student to student. This list
									| is prioritized on a first come, first served basis. As a result,
									| the need for you to remember who needs help and in what order is
									| minimized. You can seemlessly transition from helping one
									| student to helping the next, benefiting students as well.
									a(href='http://virtualhand.stlclassrooms.com/signup') Signup
									|                                 for a free trial, no credit card necessary.
						#students.tab-pane.fade
							.col-md-6(style='text-align: center')
								h2 Increase Performance
								h2 Improve Your Education
							.col-md-6(style='text-align: justify')
								h4
									| Virtual Hand will help you perform better as a student.
									| With Virtual Hand, you will no longer have to wait for your
									| teacher with your hand in the air. Instead, you can focus on
									| solving the problem you needed assistance with, knowing that
									| your request for help has been acknowledged. Talk to your
									| teacher now about using Virtual Hand in your classroom!
			#about.row(style='padding-top: 40px;')
				div(style='text-align: center')
					h1 About
				.col-sm-6.col-sm-offset-3(style='text-align: center')
					p
						| STL Software was founded in 2015 by a student with the intent
						| to help teachers and students create a better classroom
						| environment. Currently, SLT Software's feature product is Virtual
						| Hand, a service dedicated to improving classroom mechanics.
			#contact_us.row(style='padding-top: 40px;')
				.container
					.row
						.col-md-12
							.well.well-sm
								form.form-horizontal(onsubmit='contactSubmit()')
									fieldset
										h1.text-center.contact-header Contact Us
										.form-group
											span.col-md-1.col-md-offset-2.text-center
												i.fa.fa-user.bigicon
											.col-md-8
												input#name.form-control(required='', name='name', type='text', placeholder='Name')
										.form-group
											span.col-md-1.col-md-offset-2.text-center
												i.fa.fa-envelope-o.bigicon
											.col-md-8
												input#email.form-control(required='', name='email', type='text', placeholder='Email Address')
										.form-group
											span.col-md-1.col-md-offset-2.text-center
												i.fa.fa-pencil-square-o.bigicon
											.col-md-8
												textarea#message.form-control(required='', name='message', placeholder='Questions? Comments? Bugs? Enter your message for us here and we will get back to you as soon as possible.', rows='7')
										.form-group
											.col-md-12.text-center
												button.btn.btn-primary.btn-lg(type='submit', onclick='') Submit
