doctype html
html
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
	head
		title Virtual Hand Login

		include shared/header.pug
	body
		.container
			.col-sm-12.col-md-4.offset-md-4
				h1.text-center
					span.fas.fa-sign-in-alt
					| &nbsp Login


				//show any messages that come back with authentication
				if message !== null && message.length > 0
					.alert.alert-danger #{message}

				form(action='/login', method='post')
					.form-group
						label Username
						input.form-control(type='text', name='username', placeholder='Username')
					.form-group
						label Password
						input.form-control(type='password', name='password', placeholder='Password')
						br
						// Submit button, 'warning' gives it its color, 'lg' indicates a large button
						button.btn.btn-lg.btn-block.btn-primary(type='submit') Login
				hr
				a.btn.btn-default.btn-block.btn-secondary(href='/recoverpassword') Reset Password
				a.btn.btn-default.btn-block.btn-success(href='/signup') Sign Up for an account
