doctype html
html
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
	head
		title Virtual Hand Password Recovery
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
	link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	style
		include ../../client/css/main.css
	script(src="/socket.io/socket.io.js")
	script.
		let socket = io({query: {token: '#{token}'}});
		console.log(socket);
	script
		include ../../client/js/password_recovery.js
	body
		div(class="container")
			div(class="col-sm-6 col-sm-offset-3")
				h3 Virtual Hand Password Recovery
				form(action="javascript:recoverPass()", class="form-group")
					label Username:
					input(type="text", id="username", class="form-control")
					input(type="submit", value="Send New Password").btn.btn-primary.btn-block
			br
			br
			div(class="col-sm-6 col-sm-offset-3")
				a(href="/login").btn.btn-info.btn-sm.btn-block Login
				a(href="/signup" class="btn btn-default").btn.btn-info.btn-sm.btn-block Signup