doctype html
html
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
	head
		title Virtual Hand Password Recovery

		include shared/header

		script(src="/socket.io/socket.io.js")
		script.
			let socket = io({query: {token: '#{token}'}});
		script
			include password_recovery.js
	body
		.container
			.col-sm-12.col-md-4.offset-md-4
				h1.text-center
					span.fas.fa-undo-alt
					| &nbsp Reset Password
				form(action="javascript:recoverPass()")
					.form-group
						label Username
						input.form-control(type="text", id="username")
					.form-group
						input(type="submit", value="Send New Password").btn.btn-primary.btn-block

				hr

				a(href="/login").btn.btn-success.btn-block Login
				a(href="/signup" class="btn btn-default").btn.btn-success.btn-block Sign Up
