doctype html
// views/signup.ejs
html
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
    head
        title Virtual Hand Signup
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        // load bootstrap css
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        // load fontawesome
        style
            include ../../client/css/main.css
    script(src='/socket.io/socket.io.js')
    body
        .container
            .col-sm-6.col-sm-offset-3
                h1
                    span.fa.fa-sign-in
                    |  Signup
                // show any messages that come back with authentication
                //show any messages that come back with authentication
                if message !== null && message.length > 0
                    .alert.alert-danger #{message}

                // LOGIN FORM
                form(action='/signup', method='post')
                    .form-group
                        label Username
                        input.form-control(required='', type='text', name='username')
                    .form-group
                        label Password
                        input.form-control(required='', type='password', name='password')
                    .form-group
                        label Email
                        input#email.form-control(required='', name='email', type='email')
                    .form-group
                        label Account Type
                        br
                        label.radio-inline
                            input(name='role', value='teacher', type='radio', checked)
                            label Teacher
                        label.radio-inline
                            input(name='role', value='student', type='radio')
                            label Student
                    button.btn.btn-lg(type='submit') Signup
                hr
                p
                    | Already have an account? 
                    a(href='/login') Login
                p
                    | Or go 
                    a(href='/') home
                    | .
