doctype html
// views/signup.ejs
html
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
	head
		title Virtual Hand Sign Up

		include shared/header

		style
			include ../../client/css/main.css
	script(src='/socket.io/socket.io.js')
	body
		.container
			.col-sm-12.col-md-4.offset-md-4
				h1.text-center
					span.fas.fa-sign-in-alt
					| &nbsp Sign Up

				// show any messages that come back with authentication
				if message !== null && message.length > 0
					.alert.alert-danger #{message}

				// LOGIN FORM
				form(action='/signup', method='post')
					.form-group
						label Username
						input.form-control(required='', type='text', name='username')
					.form-group
						label Password
						input.form-control(required='', type='password', name='password')
					.form-group
						label Email
						input#email.form-control(required='', name='email', type='email')
					.form-group
						.form-check.form-check-inline
							label Account Type
						.form-check.form-check-inline
							input.form-check-input(name='role', value='teacher', type='radio', checked, id="teacher_radio")
							label.form-check-label(for="teacher_radio") Teacher
						.form-check.form-check-inline
							input.form-check-input(name='role', value='student', type='radio', id="student_radio")
							label.form-check-label(for="student_radio") Student
					button.btn.btn-primary.btn-lg.btn-block(type='submit') Signup
				hr
				a.btn.btn-default.btn-block.btn-success(href='/login') Have an account? Login!
